Repository crypto-org-chain/cosmos-sdk, pull requests merged in 2024-07, with the labels that each got.

#536 Problem: mempool.GasTx interface is not reused
  baseapp/abci_utils.go
  baseapp/testutil/mock/mocks.go
  x/gov/testutil/expected_keepers_mocks.go
Labels: C:x/gov

#565 Problem: signature verification result not cache between incarnations of same tx
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/txexecutor.go
  types/context.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#567 Problem: collections out of sync with released version
  collections/CHANGELOG.md
  collections/README.md
  collections/codec/alternative_value.go
  collections/codec/alternative_value_test.go
  collections/codec/bool.go
  collections/colltest/codec.go
  collections/genesis.go
  collections/genesis_test.go
  collections/go.mod
  collections/go.sum
  collections/indexes/multi.go
  collections/indexes/multi_test.go
  collections/indexes/reverse_pair.go
  collections/indexes/reverse_pair_test.go
  collections/item.go
  collections/iter.go
  collections/iter_test.go
  collections/keyset.go
  collections/keyset_test.go
  collections/map.go
  collections/map_test.go
  collections/schema.go
  collections/triple.go
  collections/triple_test.go
  core/CHANGELOG.md
  core/appmodule/module.go
  core/genesis/source_test.go
  core/go.mod
  core/go.sum
  core/header/service.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
Labels: C:collections

#570 Problem: gas consumed differs after enabled cache
  core/coins/format.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#585 Problem: snapshot for object store is not skipped
  CHANGELOG.md
  store/rootmulti/store.go
Labels: C:Store

#588 Problem: versiondb/memiavl don't compatible with upstream sdk
  store/cachemulti/store.go
  store/rootmulti/store.go
Labels: C:Store
