Repository crypto-org-chain/cosmos-sdk, pull requests merged in 2024-04, with the labels that each got.

#242 Problem: many memory allocs in cache store wrapping
  store/CHANGELOG.md
  store/cachemulti/store.go
  store/rootmulti/store.go
Labels: C:Store

#243 Problem: no API to use the new CoW branch store
  CHANGELOG.md
  store/CHANGELOG.md
  store/cachekv/store.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/cachemulti/store_test.go
  store/internal/btreeadaptor.go
  store/types/store.go
  types/context.go
Labels: C:Store

#244 Problem: store key type assertion is incorrect
  store/cachemulti/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: C:Store

#245 Problem: Restore don't work with snapshot revert usage
  store/CHANGELOG.md
  store/cachekv/store.go
  store/cachemulti/store.go
  store/cachemulti/store_test.go
  store/types/store.go
Labels: C:Store

#247 Revert "Problem: no efficient bank api to support evm add/sub balances (#239)"
  CHANGELOG.md
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
Labels: C:x/bank

#248 feat: save some memory allocations on un-used cache store
  CHANGELOG.md
  store/internal/btree/btree.go
  store/internal/btree/memiterator.go
Labels: C:Store

#258 Problem: no api to create cachemulti store from external cache store
  store/CHANGELOG.md
  store/cachemulti/store.go
  store/cachemulti/store_test.go
Labels: C:Store

#279 Problem: x/tx not up to date to the released version
  x/tx/CHANGELOG.md
  x/tx/decode/adr027.go
  x/tx/decode/decode.go
  x/tx/decode/decode_test.go
  x/tx/decode/fuzz_test.go
  x/tx/decode/unknown.go
  x/tx/go.mod
  x/tx/go.sum
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/any.go
  x/tx/signing/aminojson/bench_test.go
  x/tx/signing/aminojson/encoder.go
  x/tx/signing/aminojson/fuzz_test.go
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
  x/tx/signing/aminojson/internal/buf.lock
  x/tx/signing/aminojson/internal/testpb/test.proto
  x/tx/signing/aminojson/internal/testpb/test.pulsar.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
  x/tx/signing/aminojson/options.go
  x/tx/signing/aminojson/options_test.go
  x/tx/signing/aminojson/time.go
  x/tx/signing/context.go
  x/tx/signing/context_test.go
  x/tx/signing/direct/direct.go
  x/tx/signing/directaux/direct_aux.go
  x/tx/signing/directaux/direct_aux_test.go
  x/tx/signing/testutil/util.go
  x/tx/signing/textual/any.go
  x/tx/signing/textual/coin_test.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/coins_test.go
  x/tx/signing/textual/dec_test.go
  x/tx/signing/textual/e2e_test.go
  x/tx/signing/textual/fuzz_test.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/int_test.go
  x/tx/signing/textual/internal/testdata/coin.json
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/internal/testdata/tx.json
  x/tx/signing/textual/internal/textualpb/textual.proto
  x/tx/signing/textual/testdata/fuzz/FuzzCoinsJSONTestcases/4d81af7cc74558bf
  x/tx/signing/textual/timestamp_test.go
  x/tx/signing/textual/tx.go
  x/tx/signing/textual/tx_test.go
Labels: C:x/tx

#276 Problem: automatic signer getter don't support bytes field
  x/tx/CHANGELOG.md
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
  x/tx/signing/context.go
Labels: C:x/tx

#298 Release/v0.50.x backport
  CHANGELOG.md
  client/v2/CHANGELOG.md
  client/v2/autocli/common.go
  x/bank/autocli.go
Labels: C:CLI, C:x/bank
